/* TIMELINE CIRCLE COLORS*/


//Graph Color Codes:
$graphCenter:#5A7E8E;
$graphInfo:#9DC4D2;
$graphTitles:#1B3D50;

//Timeline Color Codes
$lineStroke: #FFFFFF ;//CBD9EF
$svgBackground:#999999;

//Main nodes colors by typology
$proceduralEvent:#4d6ba7;
$backgroundProceduralEvent:#9a9457;
$underJudgementEvent:#82b69b;



$heightTopContainer:50px;



%flexRow{
	display:flex;
	flex-direction: row;
}

%flexCol{
	display:flex;
	flex-direction: column;
}



/*Top div style [WORKS]*/
#topContentContainer{
	
	background-color: #094f92;
	height: $heightTopContainer; 
	
	width: 100%;
	margin: 0;
	padding: 5px 0px;
	@extend %flexRow;
	
	// UNSURE
	align-items: center;
	
	//position:fixed; 
	//top:0; right: 0; left: 0;
	
	#flex2ColHeader{
		@extend %flexCol;
		flex-basis: 100%;
	}
	
	/* Navigation menu */
	nav{
		@extend %flexRow;
		flex-basis: 100%;
		a{
			font-size: 9px;
			flex: 1 1 5%;
			img{
				//max-height:$heightTopContainer;
				width: 20px;
				height:20px;
			}
			margin: 10px;
		}
		.buttonsCustomColor{
				background-color: #9a9457;
		}
		#lynxLogoTop{
			flex: 0 0 10%;
				max-height:$heightTopContainer;
				img{
					margin: 3px;
					width:90%; 
                	height:90%; 
					max-width:100%;
					max-height:100%;
				}
		}
			
	}
	
	#svg{
		flex-basis: 100%;
	}
	
}
	

//Set to have main content of the page below nav header
#mainContent{
	padding-top: $heightTopContainer;
}


.mainNodeText{
	text-anchor:middle;
	text-weight:bold;
	fill: #FFFFFF;
	font-size: 6px;
}

.outerNodeTextLabel{
	
	text-anchor:middle;
	text-weight:bold;
	fill: white;
	font-size: 5px;
	text-decoration: underline;
}

.outerNodeTextDesc{
	text-anchor:middle;
		fill: #FFFFFF;
	font-size: 4px;
}





//Timeline's actual line holding events
.centerLineColor {
  stroke: $lineStroke;
}

.circleProcedural{
  fill: $proceduralEvent;
}

.circleBackProcedural {
  fill: $backgroundProceduralEvent;
}

.circleUnderJudg{
  fill: $underJudgementEvent;
}

.outerNodeGraph{
	fill:$graphInfo;
	stroke:white;
	r:20 ;
	-webkit-transition: r 2s; /* For Safari 3.1 to 6.0 */
  	transition: r 2s;
}

.outerNodeGraph:hover{
	fill:#962f3e;
	stroke:white;
	r:40;
	
}
/*.zoomOuterNode{
	r:30;
}*/



.flexbox-container{
	display:flex;
}











.outerNodeLabel{
	fill:$graphTitles;
	font-weight: bold;

}


.interNodeLine{
	stroke:  darkslategrey;
	stroke-width:2;
}


.timelineBackground{
	background-color: $svgBackground;
}


.innerMarkerCircle{
	fill: white;
}

.outerCircleZoomProcedural{
	/*fill:#3F3F3F; */
	fill: darkslategrey;
}





.highlighter_def{
	background-color: #009AA7;
	color:#FFFFFF;
	
}






body{
	height: 100%;
}


%takeFullHeight{
	height: 100%;
}
.takeFullHeight{
	height: 100%;
}

%takeFullWidth{
	width: 100%;
}
.takeFullWidth{
	width: 100%;
}



.fillParentBlock{
	display: block;
	@extend %takeFullWidth;
	@extend %takeFullHeight;
}

.fixedToTop{
	position:fixed;
	top: 0;
	left: 0;
	clear:both;
	
	
}










.hide{
	visibility: hidden;
}

//LEGEND STYLING
.legendRect{
	fill: #FFE060;
}


.textLegend{
	font-size:9;
	fill: black;
}





/*Prev style */
	.metadatos div {
			border: dotted;
			width: 100%;
			background-color: aliceblue;
		}
		h3 {
			display: block;
			font-size: 1.17em;
			margin-top: 1em;
			margin-bottom: 1em;
			margin-left: 0;
			margin-right: 0;
			font-weight: bold;
		}